[production]
last 1 chrome version
last 1 edge version
last 1 firefox version
last 1 safari version
last 1 and_chr version
last 1 and_ff version
last 1 ios_saf version

[development]
last 1 chrome version
last 1 edge version
last 1 firefox version
last 1 safari version
last 1 and_chr version
last 1 and_ff version
last 1 ios_saf version
